.input {
  border-top: none;
  border-bottom: solid;
}

.input-search {
  color: white;
  background-color: goldenrod;
}
.buscador {
  background-color: goldenrod;
  text-align: center;
  color: black;
  font-size: 40px;
}

.favourite {
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  text-align: start;
}
